<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <base href="https://mr-friend-sanjay.github.io/jay/" target="_blank"> -->
    <title>Sanjay Duraipandian</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/line-awesome.min.css">
    <link rel="stylesheet" href="./css/aos.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body data-bs-spy="scroll" data-bs-target=".navbar">

    <!-- NAV BAR -->

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-base2">
        <div class="container flex-lg-column">
          <a class="navbar-brand mb-lg-4 mx-lg-auto" href="#">
              <span class="h2 fw-bold d-block d-lg-none">Sanjay Duraipandian</span>
              <img src="./images/1600.JPG" class="d-none d-lg-block rounded border border-5" alt="">
              
        </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto flex-lg-column text-lg-center">
              
              <li class="nav-item">
                <a class="nav-link" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#work">work</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <!-- content wrapper -->
    <div id="content-wrapper" >

        <!-- home -->
        <section id="home" class="full-height px-lg-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 ">
                        <h1 class="display-4 fw-bold " data-aos="fade-up" >I'M A <span>WEB DEVELOPER</span> FROM CHENNAI,INDIA</h1>
                        <p class="lead" data-aos="fade-up" data-aos-delay="300">Aspiring web developer, eager to learn, coding enthusiast, HTML/CSS, JavaScript explorer, problem solver, tech-savvy, committed, creative, ambitious, determined.</p>
                        
                        <div data-aos="fade-up" data-aos-delay="400">
                            <a href="#work" class="btn btn-brand me-lg-4">Explore My Work</a>
                            <a href="https://docs.google.com/document/d/12L91UKZ3MpQiqySsY-qgOhfwjQgZzLSry7cjKXqVJF8/edit" class="btn btn-brand me-lg-4">RESUME</a>

                            <div class="col mt-3">
                                <ul>
                                <li><a href="#" class="custom-link me-2"> <i class="las la-phone me-1"></i> 91+ 9092463551 </a></li>
                                <li><a href="#" class="custom-link"><i class="las la-envelope"></i> sanjayduraipandiyan@gmail.com</a></li>
                                <li><a href="https://www.linkedin.com/in/sanjay-duraipandian-019b87245/" class="custom-link"><i class="lab la-linkedin"></i> Linkedin</a></li>
                                <li><a href="https://github.com/SanjayDurai" class="custom-link"><i class="lab la-github"></i> Github</a></li>

                                
                            </ul>
                            </div>
                        </div>
                            
                    </div>
                </div>

            </div>
        </section>
        
            <% if (currentPage === "/") { %>
                <script>alert("Open this Website on desktop for better user experience");</script>
            <% } %>
        

        <!-- services -->
        <section id="services" class="full-height px-lg-5">
            <div class="container" >

                <div class="row pb-4" data-aos="fade-up" >
                    <div class="col-lg-8">
                        <h6>SKILLS</h6>
                        <h1>WHAT I AM GOOD AT</h1>
                    </div>
                </div>

                <div class="row gy-4" data-aos="fade-up" >
                    <div class="col-md-4">
                        <div class="services p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox mb-2">
                                <i class="las la-laptop-code"></i>
                            </div>
                            <h4>FULL-STACK WEB DEVELOPMENT</h4>
                            <p>Skilled in Web Application creation using HTML, CSS, JS , Node.js, Express, React, SQL, Git, Responsive designs, interactive features, user-friendly layouts, and optimized performance.</p>
                            <a href="https://docs.google.com/document/d/12L91UKZ3MpQiqySsY-qgOhfwjQgZzLSry7cjKXqVJF8/edit?usp=sharing" class="readme-color ">Read more</a>
                        </div>
                    </div>

                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="services p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox mb-2">
                                <i class="las la-code"></i>
                            </div>
                            <h4>PROGRAMMING LANGUAGES</h4>
                            <p>Experienced in Python, Java, and JavaScript, excelling in Spring Boot projects. Keen to elevate expertise for AR/VR development, blending innovation with solid programming skills</p>
                            <a href="https://docs.google.com/document/d/12L91UKZ3MpQiqySsY-qgOhfwjQgZzLSry7cjKXqVJF8/edit?usp=sharing" class="readme-color">Read more</a>
                        </div>
                    </div>

                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
                        <div class="services p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox mb-2">
                                <i class="las la-handshake"></i>
                            </div>
                            <h4>SOFT SKILLS</h4>
                            <p>Versatile problem-solver and collaborative team player with a knack for efficient time management, adaptable learning, and clear communication across technical and non-technical stakeholders.</p>
                            <a href="https://docs.google.com/document/d/12L91UKZ3MpQiqySsY-qgOhfwjQgZzLSry7cjKXqVJF8/edit?usp=sharing" class="readme-color">Read more</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- work -->
        <section id="work" class="full-height px-lg-5">
            <div class="container">
                <div class="row pb-4" data-aos="fade-up" >
                    <div class="col-lg-8 mb-4">
                        <h6>WORK</h6>
                        <h1>My Recent projects</h1>
                    </div>
                    
                <div class="row gy-4" data-aos="fade-up">
                    <div class="col-md-4">
                        <div class=" works p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox pb-2">
                                <i class="las la-microchip"></i>
                            </div>
                            <h4>Iot based water level monitoring and alert system</h4>
                            <img src="./images/iot.jpg" alt="projectimage1" class="rounded-4 mb-4 mt-4">
                            <a href="https://www.linkedin.com/feed/update/urn:li:activity:7087992928966475776/" class="readme-color">Read more</a>
                        </div>
                    </div>

                    <div class="col-md-4 " data-aos="fade-up" data-aos-delay="300">
                        <div class=" works p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox pb-2">
                                <i class="las la-laptop"></i>
                            </div>
                            <h4>Portfolio website</h4>
                            <img src="./images/portfolio.png" alt="projectimage1" class="rounded-4 mb-4 mt-4">
                            <a href="#" class="readme-color">Read more</a>
                        </div>
                    </div>

                    <div class="col-md-4 " data-aos="fade-up" data-aos-delay="300">
                        <div class=" works p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox pb-2">
                                <i class="las la-shopping-cart"></i>
                            </div>
                            <h4>Ecommerce Store</h4>
                            <img src="./images/thejuana.png" alt="projectimage3" class="rounded-4 mb-4 mt-4">
                            <a href="../images/thejuana.mp4" class="readme-color">Read more</a>
                        </div>
                    </div>

                    <div class="col-md-4 " data-aos="fade-up" data-aos-delay="300">
                        <div class=" works p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox pb-2">
                                <i class="las la-photo-video"></i>
                            </div>
                            <h4>ImageComparison API</h4>
                            <img src="../images/IMG-CMP.png" alt="projectimage4" class="rounded-4 mb-4 mt-4">
                            <a href="https://github.com/SanjayDurai/ImageComparisonAPI" class="readme-color">Read more</a>
                        </div>
                    </div>

                    <div class="col-md-4 " data-aos="fade-up" data-aos-delay="300">
                        <div class=" works p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox pb-2">
                                <i class="las la-receipt"></i>
                            </div>
                            <h4>InvoiceDataExtraction API</h4>
                            <img src="../images/Invoice-API.png" alt="projectimage5" class="rounded-4 mb-4 mt-4">
                            <a href="https://github.com/SanjayDurai/InvoiceDataExtractoreAPI" class="readme-color">Read more</a>
                        </div>
                    </div>

                </div>    

                </div>
            </div>
        </section>

        <!-- about -->
        <section id="about" class="full-height px-lg-5">
            <div class="container">
                <div class="row mb-4 " data-aos="fade-up">
                    <div class="col-md-4">
                        <h6>ABOUT</h6>
                        <div data-aos="fade-up"><h2>My Journey</h2></div>
                    </div>
                </div>
    
                
                <div class="row mb-4" data-aos="fade-up" data-aos-delay="900">
                    <div class="col-md-5">
                        <div class="about lead bg-base p-4 shadow-effect rounded-4">
                            <h6>COLLEGE</h6>
                            <p>Vellore Institute of Technology Chennai</p>
                            <p>Btech Electronics and computer engineering</p>
                        </div>
                    </div>
                </div>

                <div class="row mb-4" data-aos="fade-up" data-aos-delay="900">
                    <div class="col-md-5">
                        <div class="about lead bg-base p-4 shadow-effect rounded-4">
                            <h6>INTERNSHIP</h6>
                            <p>FORD Global Technologies and Business Development Centre</p>
                            <p>Web Developer Intern (Aug - Nov 2023)</p>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <!-- contact -->
        <% if (typeof currentPage !== 'undefined' && currentPage === "/contactme") { %>

            <%- include("partials/contactme.ejs") %>
        
        <% } else { %>
        
        <section id="contact" class="full-height px-lg-5">
            <div class="container">
                <div class="row justify-content-center text-center" data-aos="fade-up">
                    <div class="col-lg-8 pb-4">
                        <h6>CONTACT</h6>
                        <h1>Interested in working together? Let's talk</h1>
                    </div>
        
                    <div class="col-lg-8" data-aos="fade-up" data-aos-delay="300">
                        <form action="/contactme" class="row gy-3 g-lg-3" method="POST">
                            <div class="form-group col-md-6" data-aos="fade-up" data-aos-delay="400">
                                <input name="name" type="text" class="form-control" placeholder="Enter your name">
                            </div>
                            <div class="form-group col-md-6" data-aos="fade-up" data-aos-delay="500">
                                <input name="email" type="email" class="form-control" placeholder="Enter your email">
                            </div>
                            <div class="form-group col-md-12" data-aos="fade-up" data-aos-delay="600">
                                <input name="subject" type="text" class="form-control" placeholder="Enter subject">
                            </div>
                            <div class="form-group col-md-12" data-aos="fade-up" data-aos-delay="700">
                                <textarea name="message" rows="4" class="form-control" placeholder="Enter your message"></textarea>
                            </div>
                            <div class="form-group col-md-12 d-grid" data-aos="fade-up" data-aos-delay="800">
                                <button class="btn btn-brand">CONTACT ME</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
        <% } %>
        
                
                
                
        <!-- footer -->
        <footer class="py-5 px-lg-5">
            <div class="container">
                <div class="row gy-4 justify-content-between ">
                    <div class="col-auto">
                        <p class="mb-0">Copyright <i class="las la-copyright"></i> Sanjay Duraipandian</p>
                    </div>
                    <div class="col-auto">
                        <div class="social-icons">
                            <a href="https://www.instagram.com/san.joyyy/"><i class="lab la-instagram"></i></a>
                            <a href="https://api.whatsapp.com/send/?phone=%2B919092463551&text&type=phone_number&app_absent=0"><i class="lab la-whatsapp"></i></a>
                            <a href="https://discordapp.com/users/sanjay9092"><i class="lab la-discord"></i></a>

                        </div>
                        
                    </div>
                </div>
            </div>
        </footer>
    </div>
      
      
    
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/aos.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>
